<% require 'date' %>
	
<div class="container">
	<div class="row">
		<h1><%= @results["name"] %></h1>
		<div class="col-xs-6 col-md-4">
			<h2>Categories</h2>
			<%= render 'shared/categories' %>
		</div>
		<div class="col-xs-6 col-md-4">	
			<h2>Address</h2>
			<%= render 'shared/address' %>
		</div>
		<div class="col-xs-6 col-md-4">
			<h2>Hours</h2>
			<%= render 'shared/time' %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h2>Reviews</h2>
			<%= render 'shared/review_items' %>
		</div>
		<div class="col-xs-6 col-md-4">
			<h2>New Review</h2>
			<%= render 'reviews/review_form' %>
		</div>
	</div>
</div>
